[user]
	email = decurnex.roberto@gmail.com
	name = Roberto Decurnex
[core]
	editor = vim
[alias]
    slog = log --graph --oneline --relative-date --decorate
    resume = log HEAD~1 --graph --pretty='%C(yellow)%d%Creset %s'
[rerere]
	enabled = true
